In [2]:
import pandas as pd
import numpy as np
# import seaborn as sns
# import matplotlib.pyplot as plt
# from sklearn.decomposition import PCA
# from sklearn.preprocessing import StandardScaler
# import nbimporter

<font color='maroon' size=5 face="black body"> Read Data And Cleaning </font>

<div class="alert alert-block alert-info">
Read file function
</div>

In [3]:
# Get the file
def readFile(path):
    return pd.read_csv(path, na_values=['?', None])

In [4]:
db =readFile('../data/Week1_challenge_data_source(CSV).csv')
db.head()

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311448e+19,4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311448e+19,4/10/2019 0:31,486.0,4/25/2019 7:36,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311448e+19,4/12/2019 20:10,565.0,4/25/2019 10:40,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

.

<font color='maroon' size=5 face="black body"> Handling missing values </font>

<div class="alert alert-block alert-info">
Total missing values from the whole dataset
</div>

In [5]:
def percent_missing(df):
    totalCells = np.product(df.shape)
    missingCount = df.isnull().sum()
    totalMissing = missingCount.sum()
    print("The telecome dataset contains", round(((totalMissing/totalCells) * 100), 2), "%", "missing values.")

percent_missing(db)

The telecome dataset contains 12.5 % missing values.

In [6]:
db.isna().sum()

Bearer Id                                      991
Start                                            1
Start ms                                         1
End                                              1
End ms                                           1
Dur. (ms)                                        1
IMSI                                           570
MSISDN/Number                                 1066
IMEI                                           572
Last Location Name                            1153
Avg RTT DL (ms)                              27829
Avg RTT UL (ms)                              27812
Avg Bearer TP DL (kbps)                          1
Avg Bearer TP UL (kbps)                          1
TCP DL Retrans. Vol (Bytes)                  88146
TCP UL Retrans. Vol (Bytes)                  96649
DL TP < 50 Kbps (%)                            754
50 Kbps < DL TP < 250 Kbps (%)                 754
250 Kbps < DL TP < 1 Mbps (%)                  754
DL TP > 1 Mbps (%)                             754
UL TP < 10 Kbps (%)                            792
10 Kbps < UL TP < 50 Kbps (%)                  792
50 Kbps < UL TP < 300 Kbps (%)                 792
UL TP > 300 Kbps (%)                           792
HTTP DL (Bytes)                              81474
HTTP UL (Bytes)                              81810
Activity Duration DL (ms)                        1
Activity Duration UL (ms)                        1
Dur. (ms).1                                      1
Handset Manufacturer                           572
Handset Type                                   572
Nb of sec with 125000B < Vol DL              97538
Nb of sec with 1250B < Vol UL < 6250B        92894
Nb of sec with 31250B < Vol DL < 125000B     93586
Nb of sec with 37500B < Vol UL              130254
Nb of sec with 6250B < Vol DL < 31250B       88317
Nb of sec with 6250B < Vol UL < 37500B      111843
Nb of sec with Vol DL < 6250B                  755
Nb of sec with Vol UL < 1250B                  793
Social Media DL (Bytes)                          0
Social Media UL (Bytes)                          0
Google DL (Bytes)                                0
Google UL (Bytes)                                0
Email DL (Bytes)                                 0
Email UL (Bytes)                                 0
Youtube DL (Bytes)                               0
Youtube UL (Bytes)                               0
Netflix DL (Bytes)                               0
Netflix UL (Bytes)                               0
Gaming DL (Bytes)                                0
Gaming UL (Bytes)                                0
Other DL (Bytes)                                 0
Other UL (Bytes)                                 0
Total UL (Bytes)                                 1
Total DL (Bytes)                                 1
dtype: int64

<div class="alert alert-block alert-info">
Handling missing Values
</div>

In [7]:
# Mode form of filling missing value
def fillMode(df,col):
    df[col] = df[col].fillna(df[col].mode()[0])

# Median form of filling missing value
def fillMedian(df,col):
    df[col] = df[col].fillna(df[col].median())
     
# Median form of filling missing value
def fillMean(df,col):
    df[col] = df[col].fillna(df[col].mean())

# Function to clean or to add a fill forward or fill backward value for our data frame.
def fix_firstForwardnextBackward(df,col):
    df[col] = df[col].fillna(method='ffill').fillna(method='bfill')

In [8]:
fillMode(db,"Start")
fillMode(db,"End")
fillMode(db,"Handset Manufacturer")
fillMode(db,"Handset Type")
fillMode(db,"IMSI")
fillMode(db,"IMEI")
fillMedian(db,"Start ms")
fillMedian(db,"End ms")
fillMedian(db,"HTTP DL (Bytes)")
fillMedian(db,"HTTP UL (Bytes)")
fillMedian(db,"Total UL (Bytes)")
fillMedian(db,"Total DL (Bytes)")
fillMean(db,"Dur. (ms)")
fillMean(db,"Avg RTT DL (ms)")
fillMean(db,"Avg RTT UL (ms)")
fillMean(db,"Avg Bearer TP DL (kbps)")
fillMean(db,"Avg Bearer TP UL (kbps)")
fillMean(db,"TCP DL Retrans. Vol (Bytes)")
fillMean(db,"TCP UL Retrans. Vol (Bytes)")
fillMean(db,"Activity Duration DL (ms)")
fillMean(db,"Activity Duration UL (ms)")
fillMean(db,"DL TP < 50 Kbps (%)")
fillMean(db,"50 Kbps < DL TP < 250 Kbps (%)")
fillMean(db,"250 Kbps < DL TP < 1 Mbps (%)")
fillMean(db,"DL TP > 1 Mbps (%)")
fillMean(db,"UL TP < 10 Kbps (%)")
fillMean(db,"10 Kbps < UL TP < 50 Kbps (%)")
fillMean(db,"50 Kbps < UL TP < 300 Kbps (%)")
fillMean(db,"UL TP > 300 Kbps (%)")
fix_firstForwardnextBackward(db, "Last Location Name")
fix_firstForwardnextBackward(db, "Nb of sec with 125000B < Vol DL")
fix_firstForwardnextBackward(db, "Nb of sec with 1250B < Vol UL < 6250B")
fix_firstForwardnextBackward(db, "Nb of sec with 31250B < Vol DL < 125000B")
fix_firstForwardnextBackward(db, "Nb of sec with 37500B < Vol UL")
fix_firstForwardnextBackward(db, "Nb of sec with 6250B < Vol DL < 31250B")
fix_firstForwardnextBackward(db, "Nb of sec with 6250B < Vol UL < 37500B")
fix_firstForwardnextBackward(db, "Nb of sec with Vol DL < 6250B")
fix_firstForwardnextBackward(db, "Nb of sec with Vol UL < 1250B")

# 
# Removing unwanted columns/ duplicate 
db = db.drop(["Dur. (ms).1"],axis = 1)
# Removing Row from Bearer Id and MSISDN/Number 
db.dropna(subset = ["Bearer Id", "MSISDN/Number"], inplace=True)

In [9]:
db.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 148506 entries, 0 to 149999
Data columns (total 54 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Bearer Id                                 148506 non-null  float64
 1   Start                                     148506 non-null  object
 2   Start ms                                  148506 non-null  float64
 3   End                                       148506 non-null  object
 4   End ms                                    148506 non-null  float64
 5   Dur. (ms)                                 148506 non-null  float64
 6   IMSI                                      148506 non-null  float64
 7   MSISDN/Number                             148506 non-null  float64
 8   IMEI                                      148506 non-null  float64
 9   Last Location Name                        148506 non-null  object
 10  Avg RTT DL (ms)                           148506 non-null  float64
 11  Avg RTT UL (ms)                           148506 non-null  float64
 12  Avg Bearer TP DL (kbps)                   148506 non-null  float64
 13  Avg Bearer TP UL (kbps)                   148506 non-null  float64
 14  TCP DL Retrans. Vol (Bytes)               148506 non-null  float64
 15  TCP UL Retrans. Vol (Bytes)               148506 non-null  float64
 16  DL TP < 50 Kbps (%)                       148506 non-null  float64
 17  50 Kbps < DL TP < 250 Kbps (%)            148506 non-null  float64
 18  250 Kbps < DL TP < 1 Mbps (%)             148506 non-null  float64
 19  DL TP > 1 Mbps (%)                        148506 non-null  float64
 20  UL TP < 10 Kbps (%)                       148506 non-null  float64
 21  10 Kbps < UL TP < 50 Kbps (%)             148506 non-null  float64
 22  50 Kbps < UL TP < 300 Kbps (%)            148506 non-null  float64
 23  UL TP > 300 Kbps (%)                      148506 non-null  float64
 24  HTTP DL (Bytes)                           148506 non-null  float64
 25  HTTP UL (Bytes)                           148506 non-null  float64
 26  Activity Duration DL (ms)                 148506 non-null  float64
 27  Activity Duration UL (ms)                 148506 non-null  float64
 28  Handset Manufacturer                      148506 non-null  object
 29  Handset Type                              148506 non-null  object
 30  Nb of sec with 125000B < Vol DL           148506 non-null  float64
 31  Nb of sec with 1250B < Vol UL < 6250B     148506 non-null  float64
 32  Nb of sec with 31250B < Vol DL < 125000B  148506 non-null  float64
 33  Nb of sec with 37500B < Vol UL            148506 non-null  float64
 34  Nb of sec with 6250B < Vol DL < 31250B    148506 non-null  float64
 35  Nb of sec with 6250B < Vol UL < 37500B    148506 non-null  float64
 36  Nb of sec with Vol DL < 6250B             148506 non-null  float64
 37  Nb of sec with Vol UL < 1250B             148506 non-null  float64
 38  Social Media DL (Bytes)                   148506 non-null  float64
 39  Social Media UL (Bytes)                   148506 non-null  float64
 40  Google DL (Bytes)                         148506 non-null  float64
 41  Google UL (Bytes)                         148506 non-null  float64
 42  Email DL (Bytes)                          148506 non-null  float64
 43  Email UL (Bytes)                          148506 non-null  float64
 44  Youtube DL (Bytes)                        148506 non-null  float64
 45  Youtube UL (Bytes)                        148506 non-null  float64
 46  Netflix DL (Bytes)                        148506 non-null  float64
 47  Netflix UL (Bytes)                        148506 non-null  float64
 48  Gaming DL (Bytes)                         148506 non-null  float64
 49  Gaming UL (Bytes)                         148506 non-null  float64
 50  Other DL (Bytes)                          148506 non-null  float64
 51  Other UL (Bytes)                          148506 non-null  float64
 52  Total UL (Bytes)                          148506 non-null  float64
 53  Total DL (Bytes)                          148506 non-null  float64
dtypes: float64(49), object(5)
memory usage: 62.3+ MB

In [10]:
db.head()

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311448e+19,4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311448e+19,4/10/2019 0:31,486.0,4/25/2019 7:36,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311448e+19,4/12/2019 20:10,565.0,4/25/2019 10:40,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

In [11]:
db.shape

(148506, 54)

In [12]:
def dataframe():
    return db

In [ ]:
def simple():
    print()